
body{
   background-color: #90C226;}
   
slide.title-slide{   background-color: #90C226;   }

slide.dark {
background-color: #90C226;
}

slide.title-slide hgroup h1{
  color: white;
}

slide.title-slide hgroup h2{
  color: white;
}

slide.title-slide hgroup p{
  color: white;
}

.prettyprint{
  background-color: #EFFED0;
}

pre{
  font-size: 36px;
}
