
body{
   background-color: #2165B6;}

slides, slide{
  height: 900px;
  width: 1200px;
  margin-left: 450px;
}

.title-slide{
   background-color: #2165B6;
   background-image: url("WebBackground.png");
   background-position: right bottom;
   background-repeat: no-repeat;    
   background-size: 300px;
   }

.title-slide hgroup h1{
  color: #fff;
}

.title-slide hgroup h2{
  color: white;
}

.title-slide hgroup p{
  color: white;
}

pre{
  font-size: 26px;
}
